{% extends 'base.html.twig' %}

{% block body %}       
<h2 class="col-12 page-header"> Events </h2>

{% for event in events %}
  <div class="col-lg-4 col-md-6 col-sm-12 py-3 h5 d-flex flex-wrap box">

    <div class="col-lg-12 col-md-6 mb-3 p-0 d-none d-lg-block d-md-block img">
      <a href="/events/view/{{ event.id }}"><img class='img-fluid' src='{{ event.image }}' alt='Event Image'></a>
    </div>

    <div class='col-lg-12 col-md-6 col-sm-12 p-lg-0 px-md-3 info'>
      <div class="col-12 p-0" style="color: #17A2B8, font-size: 70%">{{ event.type }}</div>
      <div class='col-12 p-0 h4 title'>{{ event.name }}</div>
      <p class="col-12 p-0 font-weight-lighter text-muted">{{ event.dateTime|date('F j, Y, g:i a') }}</p>

      <hr class='col-12 my-0 px-0 py-1 hr'>

      <p class='col-12 m-0 p-0 street'>{{ event.street }}</p>
      <p class='col-12 m-0 mb-3 p-0 city'>{{ event.city }}</p> 
      
      <a href="/events/view/{{ event.id }}" class="btn btn-info">View</a>
      <a href="/events/edit/{{ event.id }}" class="btn btn-outline-info">Edit</a>
      <a href="/events/delete/{{ event.id }}" class="btn btn-secondary">Delete</a>
    </div>
  </div>
{% endfor %}

{% endblock %}